.master{

    height: 300px;
    display: flex;
      
    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        }

    @media screen and (max-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: column;
        }


    &__frame{
        width: 300px;
        height: 100px;
        border: 2px solid black;
        margin-left: 10px;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            margin-top: 10px;
        }
        
            &_second{
            @media screen and (max-width: 1024px) {
            margin-right: 100px;
            }
            }
            &_third{
            @media screen and (max-width: 768) {
            margin-right: 100px;
            }
            }
         
    }
}